/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */


/* LOCAL FONTS */

@font-face {
  font-family: 'open_sansregular';
       src: url('assets/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'collegeregular';
      src: url('assets/COLLEGE-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* TYPOGRAFY */

html{
  font-family: 'open_sansregular';
  font-size: 10px;
}

/*this was the only part that I got confused, the excise asked to have everything with the same spacing so
  I added it directly to the body instead of doing them each separate*/
body{
  line-height: 2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

h1, h2{
  font-family: 'collegeregular';
  letter-spacing: 0.3rem;
}

h1{
  font-size: 5.5rem;
  text-align: center;
}

h2{
  font-size: 2rem;
}

section p {
  text-indent: 2rem;
}

p {
  font-size: 1.6rem;
}


/* LINKS */

a {
  outline: none;
}

a[href*="http"] {
  padding-right: 1.8rem;
  background: url(img/external-link-52.png) no-repeat 100% 0;
  background-size: 1.4rem 1.4rem;
}

/*All my colors where based on a color pallete website that I found on google*/
a:link{
  color: #6666aa;
}

a:visited {
  color: #66aa88;
}

a:focus, a:hover {
  text-decoration: none;
}

/*I needed to add style when the link is active, I tried to make a blur effect but it was way too ugly so I kept
  it simple and just changed the color, not sure if that counts as styling it.*/
a:active {
  color: #aaaa66;
}

/* LIST */

li{
  font-size: 1.6rem;
}

ul, ol {
  margin: 1.6rem 0;
}

section ul {
  list-style-type:square;
}

aside ul {
  list-style-type: decimal;
}

ol {
  list-style-type: lower-latin;
}


/* NAVIGATION */

nav ul {
  padding-left: 0;
  margin-top: 0.6rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 8rem;
  text-align: center;
  font-size: 2.5rem;
  border: 0.1rem solid #a66;
}

nav li a:focus, nav li a:hover {
  color: white;
  background: #a66;
}

nav li a:active {
  color: white;
  background-color: #aaaa66;
}